.homeber{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
}
.logo-home img{
  margin-left: 3%;
  width: 25%;
  float: left;
}
.logo-profile img{
  margin-left: 12%;
  width: 20%;
  float: left;
}
.logo-contact img{
  margin-left: 11%;
  width: 25%;
  float: left;
}
/*------------------------ここまでheader-------------------------*/
#toplogo img{
  width: 95%;
}
/*------------------------ここまでトップ画像-------------------------*/
input {
  font-size: 200%;
  width: 80%;
}
/*------------------------ここまでinput要素-------------------------*/
h1{
  color: #192f60;
}
.title{
  color: #192f60;
  font-size: 100px;
}
/*------------------------ここまで文字色-------------------------*/
.seach_position{
  font-size: 50px;
  background-color:#00B050;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 30px;
  text-decoration: none;
}

/*------------------------ここまで位置検索-------------------------*/
.icon img{
  width:50%;
  border-radius: 30px;
}
.profile-text{
color: #192f60;
margin-left: 5%;
font-size: 100px;
}
.profile-text-level{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #00EEDD;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
}
