.homeber{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
}
.logo-home img{
  margin-left: 10%;
  width: 17%;
  float: left;
}
.logo-profile img{
  margin-left: 15%;
  width: 15%;
  float: left;
}
.logo-contact img{
  margin-left: 17%;
  width: 15%;
  float: left;
}
/*------------------------ここまでheader-------------------------*/
#toplogo img{
  width: 95%;
}
/*------------------------ここまでトップ画像-------------------------*/
.searchber{
  font-size: 400%;
  width: 80%;
}
/*------------------------ここまでinput要素-------------------------*/
h1{
  color: #192f60;
}
.title{
  color: #192f60;
  font-size: 90px;
  font-family: "ＭＳ ゴシック",sans-serif;
}
/*------------------------ここまで文字色-------------------------*/
.seach_position{
  font-size: 80px;
  background-color:#00B050;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 30px;
  text-decoration: none;
}

/*------------------------ここまで位置検索-------------------------*/
.icon img{
  width:50%;
  border-radius: 30px;
}
.profile-text{
color: #192f60;
margin-left: 5%;
font-size: 100px;
}
.profile-text-level{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #00EEDD;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
}
/*------------------------ここまでsumple-------------------------*/
#sumple_top img{
  width: 95%;
}
.sumple_title{
  color: #192f60;
  font-size: 90px;
  font-family: "ＭＳ ゴシック",sans-serif;
  border-left: solid 30px;
  margin-left: 20px;
}
.sumple_contact{
  clear: both;
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  background-color: #00B050;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
  font-size: 80px;
}
.sumple_subtitle{
  font-size: 60px;
}
label{
  display: block;
  margin-left: 30px;
  font-size: 60px;
}
input.leview{
  width: 10em;
}
.sumple_image img{
    float: left;
    width: 50%;
}
td{
  font-size: 60px;
  color: #192f60;
}
table{
  margin-left: 40px;
}
/*------------------------ここまでchat-------------------------*/
#chat_title{
  font-size: 60px;
  color: #192f60;
}
/*------------------------ここまで個人chat-------------------------*/
#comment{
  font-size: 40px;
  background-color: #00B050;
  color: white;
  border-radius: 15px;
}
#send{
    font-size: 350%;
}
#searchber{
  font-size: 400%;
  width: 70%;
  position: fixed;
  margin-bottom: 200px;
  bottom: 0;
  left: 0;
}
.header2{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 200px;
}
.chat_result{
  font-size: 60px;
}
